* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    background-color: rgb(224, 204, 241);
    min-height: 100vh;
    border: 5px solid rgb(44, 44, 83);
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.top_section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 44px;
    font-weight: bold;
    margin-right: 60px;
    padding: 0;


}

.top_section h4 {
    text-align: end;
    font-size: 20px;
    margin-right: 60px;
}

.image_container {
    border-radius: 50%;
    overflow: hidden;
}

.image_container,
img {
    width: 300px;
    height: 320px;
    margin-left: -150px;
    padding: 0;
}

.about_section {
    margin-top: 50px;
}

.about_section h2{
    font-size: 40px;            
    font-weight: 800;
    margin-bottom: 20px;

}
    
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biography_section{
    margin-top:40px;
}

.biography_section h1{
    margin-top:20px ;
    margin-bottom: 8px;
}

.biography_section ul{
    margin-left: 80px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.2px;
}

footer{
    margin: 50px;

}
footer p{
    text-align: end;
    font-weight: 600;
}
.author{
    text-align: center;
}

/* css for mobile device */
@media (max-width:786px){
    img{
        width: 300px;
        height: 250px;
        margin:0px;
        padding: 10px;
    }
    .top_section {
        margin-top:-50px;
        
    }

    .top_section h1{
           font-size: 32px;
           margin-right: 0px;
    }
    .top_section h4{
        font-size: 18px;
        margin-right:52px;
    }
    .content {
        margin:0 10px;
    }
    .about_section p{
        font-size: 20px;
        line-height: 28px;
        letter-spacing:0.3px;
        text-align: justify;
    }
}